{{ define "main" }}
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 60vh; text-align: center;">
    <h1>404 Not Found</h1>
    <p>The page can't be found on this server, hence the error. However, that's all we can tell you...</p>
    <p>If you typed this URL, double check any spelling in the address bar.</p>
    <div style="height: 2rem;"></div>
    <img src="/img/404.gif" alt="404 Not Found" style="max-width: 100%; height: auto;">
    <div style="height: 2rem;"></div>
    <p>
        <a href="{{ .Site.Home.RelPermalink }}" style="font-weight: bold; border: solid; border-width: 1px; padding: .5rem; border-radius: 2rem; text-decoration: none; color: inherit;">
                Return to the home page
        </a>
    </p>
    <div style="height: 2rem;"></div>
    <sub>If you think this is a mistake, please <a href="https://report.sntx.dev/" style="text-decoration: underline;">report it here.</a></sub>

</div>
{{ end }}